[Unit]
Description=uWSGI instance for someapp
After=syslog.target
After=network.target

[Service]
User=www-data
Group=www-data

WorkingDirectory={{ someapp.app_path }}
ExecStart=/usr/local/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target 