upstream someapp {
  server 192.168.241.101:8001;
  server 192.168.241.102:8001;
}

server {
    listen 80;

    location / {
        root {{ someapp.app_path }}/static;
    }

    location /api {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass http://someapp;
    }
}